/* Strikes through the completed items */
div span[data-todo-item-completed="true"] {
	text-decoration: line-through;
}

div.CustomListItemPriority span {
	font-weight: bold;
}

div span[data-todo-item-priority="Top"] {
	color:red
}
div span[data-todo-item-priority="High"] {
	color:#ffa500
}
div span[data-todo-item-priority="Normal"] {
	color:#000000
}
div span[data-todo-item-priority*="Low"] {
	color:#a5a5a5
}

div.CustomListItemTitle span {
	font-weight: bold;
}
